apiVersion: v1
kind: Service
metadata:
  name: backend-service
  namespace: aucsafe
  labels:
    app.kubernetes.io/name: backend
    app.kubernetes.io/component: api
    app.kubernetes.io/part-of: aucsafe
spec:
  type: ClusterIP
  selector:
    app.kubernetes.io/name: backend
  ports:
    - name: http
      port: 8000
      targetPort: 8000
      protocol: TCP
