apiVersion: v1
kind: Service
metadata:
  name: frontend-service
  namespace: aucsafe
  labels:
    app.kubernetes.io/name: frontend
    app.kubernetes.io/component: web
    app.kubernetes.io/part-of: aucsafe
spec:
  type: ClusterIP
  selector:
    app.kubernetes.io/name: frontend
  ports:
    - name: http
      port: 80
      targetPort: 3000
      protocol: TCP
