apiVersion: v1
kind: Service
metadata:
  name: postgres-service
  namespace: aucsafe
  labels:
    app.kubernetes.io/name: postgres
    app.kubernetes.io/component: database
    app.kubernetes.io/part-of: aucsafe
spec:
  type: ClusterIP
  selector:
    app.kubernetes.io/name: postgres
  ports:
    - name: postgres
      port: 5432
      targetPort: 5432
      protocol: TCP
